@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  max-width: 90%;
  background: linear-gradient(to bottom, #6496e0 40%, #56b4ae 100%);
  /* background: #6496e0; */
  margin: 50px auto 0;
  padding: 40px 30px;
  @apply rounded-xl;
}
